$contentBackground: #1c1e2a;
$backgroundHeader: url(../img/m-h-night.jpg);
$logoTextMarginLeft: 15px;
$logoTextMarginTop: 24px;
$logoTextSize: 23px;
$sectionTitleBGC: #ff4d30;
$cardMarTop: 52px;
$cardMarTopChild3: 68px;
$cardMarBottChild3: 49px;
$cardMarBottChild3Text: 39px;

$colorText: #ffffff;
$backgroundButton: #dca102;
$colorButtonText: #ffffff;
$HeaderTextFamily: 'Fresca', sans-serif;
$backgroundBunner: linear-gradient(to right, #dca102, #9a344a);
$bannerTop: 110%;
$backgroundTwo: #383d4f;
$sectionMargBottom: 204px;