$contentBackground:#ffffff;
$backgroundHeader: url(../img/m-h-day.jpg);
$logoTextMarginLeft: 18px;
$logoTextMarginTop: 19px;
$logoTextSize: 27px;
$sectionTitleBGC: #0ca1c9;
$cardMarTop: 38px;
$cardMarTopChild3: 44px;
$cardMarBottChild3: 50px;
$cardMarBottChild3: 50px;
$cardMarBottChild3Text: 5px;
$colorText: #000000;
$backgroundButton: #699a00;
$colorButtonText: #ffffff;
$HeaderTextFamily: 'Source Sans Pro', sans-serif;
$backgroundBunner: linear-gradient(to right, #66960c, #2f5dd4);
$bannerTop: 107.5%;
$backgroundTwo: #21232e;
$sectionMargBottom: 178px;